.table {
  width: 700px;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  thead {
    .td {
      background-color: #eee;
      font-weight: bold;
      &:nth-child(1) {
        font-weight: normal;
      }
    }
  }
}

.td {
  border: 1px solid #ddd;
  padding: 10px;
}

.tr .td:nth-child(1) {
  text-align: left;
}
