* {
  box-sizing: border-box;
}
body {
  background-color: #17191c;
}

.App {
  max-width: 1200px;
  margin: auto;
  position: relative;
  background-color: #fff;
}

.active {
  color: #6e88ff !important;
}
