.paralax {
  width: 100%;
  background-size: cover;
  /* Full height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(
      circle,
      #20212500 50%,
      rgba(59, 73, 105, 1) 100%
    );
  }
  &::before {
    background: radial-gradient(
      circle,
      hsla(0, 0%, 100%, 0) -20%,
      #212734 100%
    );
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
}
